@import "tailwindcss";

:root {
  @apply text-gray-100 bg-gray-800 font-sans;
}

body {
  @apply overflow-x-hidden;
}

.pageSection {
  @apply h-screen max-w-screen overflow-hidden;
}
/* Styles for Scrollbars */
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-corner {
  @apply bg-blue-900 h-7/8 rounded-2xl w-2;
}

textarea::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-2xl w-1/4;
}

textarea::-webkit-scrollbar-button {
  @apply bg-amber-50;
}

#displayChat::-webkit-scrollbar,
#displayChat::-webkit-scrollbar-corner {
  @apply bg-gray-700 h-7/8 rounded-2xl w-2;
}

#displayChat::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-2xl w-1/4;
}

/* Spinner Animation */
.animate-spin {
  animation: spin 1s linear infinite;
}

/* Styling LLM response in chatbox */
/* .markdownElement hr,
.markdownElement h2 {
  margin: 2% 0;
  font-size: 115%;
}

.markdownElement h3 {
  font-weight: bold;
}

.markdownElement h3,
.markdownElement p {
  margin: 1% 0;
} */
